<div class="container-fluid">
  <div class="main-screen">
    <div class="row">
      <div class="col-12 search-box">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="name" />
          <div
            class="input-group-append"
            style="cursor: pointer;"
            (click)="searchPokemon()"
          >
            <span class="input-group-text"
              ><i class="fa fa-search" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let item of allPokemon">
        <app-pokemon-card [message]="item"></app-pokemon-card>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
