<div class="container-fluid">
  <div class="main-screen">
    <div class="row">
      <div class="col-12 search-box">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="name" />
          <div
            class="input-group-append"
            style="cursor: pointer;"
            (click)="searchPokemon()"
          >
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="allPokemon.length && isSearched">
      <h3>Pokemon of the day</h3>
      <div class="row">
        <div class="col-12 baground-style">
          <app-pokemon-card [message]="allPokemon[randomID]"></app-pokemon-card>
        </div>
      </div>
    </div>
    <h3>All Pokemon</h3>
    <div class="row">
      <div class="col-4" *ngFor="let item of allPokemon">
        <app-pokemon-card [message]="item"></app-pokemon-card>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
